<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="Talks / Presentations">
    <meta name="keywords" content="Talks / Presentations">
    <meta name="author" content="Alex Hedley">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="css/vendor/sticky-footer.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="css/jquery-ui.min.css"> -->
    <link rel="stylesheet" href="css/vendor/jquery-ui.1.12.1.min.css">
    <link rel="stylesheet" href="css/styles.css">

    <link rel="shortcut icon" href="favicon.ico">

    <!-- Fonts -->
    <!-- <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'> -->

    <title>🎙️ Talks</title>
  </head>
  <body ng-app="myApp">
    <main role="main" class="container">

        <section class="jumbotron title-container text-center">
            <div>
                <h1>🎙️ Talks</h1>

                <div class="row justify-content-md-center">
                    <div class="col-lg-8">
                        <div class="input-group search-bar">
                            <input type="text" class="form-control" ng-model='searchText' placeholder="Search for a talk..." aria-label="Search">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <br />

        <div ng-controller="myController">

            <div class="container">

                <div class="row justify-content-md-center">
                    <div class="">

                        <table id="results" class="sortable">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="talk in talks">
                                    <td>{{talk.date | toDate | date:'mediumDate'}}</td>
                                    <td>{{talk.name}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

                <br />

                <div class="row justify-content-md-center">
                    <div class="">

                        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li ng-repeat="talk in talks" data-target="#carouselExampleCaptions" data-slide-to="{{$index}}"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div ng-repeat="talk in talks" class="carousel-item" ng-class='{active:$first}'>
                                    <img src="/talks/{{talk.image}}" class="d-block w-100" alt="{{talk.name}}">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>{{talk.name}}</h5>
                                        <p>{{talk.description}}</p>
                                    </div>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>

                    </div>
                </div>

                <br />

                <div class="row">
                    <div 
                        ng-repeat="talk in talks | filter:searchText"
                        class="col-md-4"
                        style="margin-bottom: 50px;"
                    >
                        <div class="card" style="width: 18rem;">
                            <img ng-if="talk.image.length > 0" ng-src="/talks/{{talk.image}}" class="card-img-top" alt="{{talk.name}}">
                            <div class="card-header">
                                {{talk.name}}
                            </div>
                            <div class="card-body">
                                <!-- <h5 class="card-title">{{talk.name}}</h5> -->
                                <!-- <h6 class="card-subtitle mb-2 text-muted">{{talk.description}}</h6> -->
                                <p class="card-text">{{talk.description}}</p>
                                <!-- <p class="card-text">{{talk.date | date:'d MMM yyyy'}}</p> -->
                                <div class="card-topics-container">
                                    <div ng-repeat="topic in talk.topics">
                                        <span class="badge badge-pill card-pill-primary" style="margin-left:5px;">{{topic}}</span>
                                    </div>
                                </div>
                                <div class="btn-group">
                                    <button ng-click="openRepository(talk)" type="button" class="btn btn-sm btn-outline-secondary card-button">
                                        <i class="fab fa-github"></i> View Code
                                    </button>
                                    <button ng-click="openRepositoryHomepage(talk)" type="button" class="btn btn-sm btn-outline-secondary card-button">
                                        <i class="fas fa-globe-europe"></i>View Site
                                    </button>
                                </div>
                            </div>
                            <div class="card-footer text-muted">
                                {{talk.date | toDate | date:'mediumDate'}}
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

        </div>

    </main>

    <footer class="footer">
        <div class="container">
            <span class="text-muted"><a href="https://alexhedley.github.io/" target="_blank">Alex Hedley</a>.</span>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/vendor/jquery-3.3.1.min.js" ></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="js/vendor/jquery-ui.min.js"></script>
    <!-- <script src="js/vendor/jquery-ui.1.12.1.min.js"></script> -->
    <!-- <script src="js/vendor/popper.min.js"></script> -->
    <script src="js/vendor/bootstrap.min.js"></script>
    <!-- <script src="js/vendor/jquery.pretty-text-diff.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script> -->
    <script src="js/vendor/angular.min.js"></script>
    <!-- <script src="js/vendor/angular-filter.js"></script> -->
    <script src="js/vendor/sorttable.js"></script>
    <script src="js/app.js"></script>
    </body>
</html>